<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @game.author_id %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @game.genres %>
</p>

<p>
  <strong>Mechanics:</strong>
  <%= @game.mechanics %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
