<!DOCTYPE html>
<html>
  <head>
    <title>CardStock</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Advent+Pro|Open+Sans');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'react_app' %>
    <%= yield :head if content_for?(:head) %>
  </head>
  <body>
  <div id="appContainer">
    <%= yield %>
  </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'react_app' %>
  </body>
</html>
